
.gradle/7.6.1/checksums/checksums.lock
.gradle/7.6.1/checksums/sha1-checksums.bin
.gradle/7.6.1/executionHistory/executionHistory.bin
.gradle/7.6.1/executionHistory/executionHistory.lock
.gradle/7.6.1/fileHashes/fileHashes.bin
.gradle/7.6.1/fileHashes/fileHashes.lock
.gradle/7.6.1/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/file-system.probe
build/classes/java/main/com/lypaka/catalystterapokemon/Commands/SetTeraTypeCommand.class
build/classes/java/main/com/lypaka/catalystterapokemon/Commands/TerastallizeCommand.class
build/classes/java/main/com/lypaka/catalystterapokemon/Helpers/BattleHelpers.class
build/classes/java/main/com/lypaka/catalystterapokemon/Helpers/DamageHelpers.class
build/classes/java/main/com/lypaka/catalystterapokemon/Helpers/MiscHelpers.class
build/classes/java/main/com/lypaka/catalystterapokemon/Helpers/NBTHelper.class
build/classes/java/main/com/lypaka/catalystterapokemon/Helpers/NBTHelpers.class
build/classes/java/main/com/lypaka/catalystterapokemon/Helpers/ParticleHelpers.class
build/classes/java/main/com/lypaka/catalystterapokemon/Listeners/PixelmonUpdateListener.class
build/classes/java/main/com/lypaka/catalystterapokemon/Listeners/ServerStartedListener.class
build/classes/java/main/com/lypaka/catalystterapokemon/Listeners/TickListener.class
build/classes/java/main/com/lypaka/catalystterapokemon/TeraBattle.class
build/libs/CatalystTeraPokemon-base-0.0.1-ALPHA.jar
build/reobfJar/log.txt
build/reobfJar/output.jar
build/reobfShadowJar/log.txt
build/reobfShadowJar/output.jar
build/tmp/compileJava/compileTransaction/stash-dir/CatalystTeraPokemonCommand.class.uniqueId6
build/tmp/compileJava/compileTransaction/stash-dir/MiscHelpers.class.uniqueId1
build/tmp/compileJava/compileTransaction/stash-dir/MiscHelpers.class.uniqueId3
build/tmp/compileJava/compileTransaction/stash-dir/NBTHelper.class.uniqueId7
build/tmp/compileJava/compileTransaction/stash-dir/ParticleHelpers.class.uniqueId1
build/tmp/compileJava/compileTransaction/stash-dir/PixelmonUpdateListener.class.uniqueId0
build/tmp/compileJava/compileTransaction/stash-dir/PixelmonUpdateListener.class.uniqueId2
build/tmp/compileJava/compileTransaction/stash-dir/ServerStartedListener.class.uniqueId2
build/tmp/compileJava/compileTransaction/stash-dir/ServerStartedListener.class.uniqueId4
build/tmp/compileJava/compileTransaction/stash-dir/SetTeraTypeCommand.class.uniqueId0
build/tmp/compileJava/compileTransaction/stash-dir/TerastallizeCommand.class.uniqueId5
build/tmp/compileJava/previous-compilation-data.bin
build/tmp/jar/MANIFEST.MF
build/tmp/shadowJar/MANIFEST.MF
